.logo {
  background: #000;
  display: flex;
  width: 151.2rem;
  padding: 10.4rem 0 21.5rem;
  flex-direction: column;
  align-items: center;
  gap: 15.1rem;

  @include media("<phone") {
    width: 39rem;
    padding: 6.8rem 2rem 7.45rem;
    gap: 8rem;
  }
}

.logo > h1 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.096rem;

  @include media("<phone") {
    font-size: 3.2rem;
    letter-spacing: -0.064rem;
  }
}

.logo_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.8rem;
  width: 100%;

  @include media("<phone") {
    gap: 5.1rem;
  }
}

.logo_logo--desktop {
  @include media("<phone") {
    display: none;
  }
}

.logo_logo--mobile {
  display: none;

  @include media("<phone") {
    display: flex;
  }
}

.logo_row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 9.2rem;
  width: 100%;

  @include media("<phone") {
    gap: 5.7rem;
  }
}

.logo_row--2 {
  @include media("<phone") {
    gap: 8rem;
  }
}

.logo_img {
  display: block;
  height: 7rem;
  width: auto;
  max-width: 20.2rem;
  object-fit: contain;
  filter: brightness(0) saturate(100%) invert(73%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(100%) contrast(90%);

  @include media("<phone") {
    height: 4rem;
    max-width: 10rem;
  }
}

.logo_img--ubisoft {
  height: 7.3455rem;
  max-width: 8.0463rem;

  @include media("<phone") {
    height: 3.6196rem;
    max-width: 4.0891rem;
  }
}

.logo_img--netease {
  height: 6.4rem;
  max-width: 17.9rem;

  @include media("<phone") {
    height: 3.5rem;
    max-width: 9.8rem;
  }
}

.logo_img--snail {
  height: 7.4rem;
  max-width: 12.728rem;

  @include media("<phone") {
    height: 3.8468rem;
    max-width: 6.6165rem;
  }
}

.logo_img--hoyoverse {
  height: 6.5rem;
  max-width: 20.2rem;

  @include media("<phone") {
    height: 3.2rem;
    max-width: 9.9rem;
  }
}

.logo_img--plarium {
  height: 6.4286rem;
  max-width: 8.6308rem;

  @include media("<phone") {
    height: 3.1633rem;
    max-width: 4.2646rem;
  }
}

.logo_img--gearbox {
  height: 7.2479rem;
  max-width: 10.1471rem;

  @include media("<phone") {
    height: 4.3896rem;
    max-width: 6.0882rem;
  }
}

.logo_img--zynga {
  height: 6.8441rem;
  max-width: 7.3455rem;

  @include media("<phone") {
    height: 3.8817rem;
    max-width: 4.0808rem;
  }
}

.logo_img--bethesda {
  height: 6.5684rem;
  max-width: 13.9683rem;

  @include media("<phone") {
    height: 3.6947rem;
    max-width: 7.7939rem;
  }
}

.logo_img--amazon-games {
  height: 7rem;
  max-width: 13rem;

  @include media("<phone") {
    height: 3.2rem;
    max-width: 5.9rem;
  }
}

.logo_img--ea,
.logo_img--xbox {
  height: 7rem;
  max-width: 7rem;

  @include media("<phone") {
    height: 3.5rem;
    max-width: 4rem;
  }
}

.logo_img--blizzard {
  height: 7.1rem;
  max-width: 8.3rem;

  @include media("<phone") {
    height: 2.7rem;
    max-width: 5.7rem;
  }
}

.logo_img--facepunch {
  height: 7rem;
  max-width: 20rem;

  @include media("<phone") {
    height: 4rem;
    max-width: 11rem;
  }
}

.logo_img--konami {
  height: 6.5rem;
  max-width: 14rem;

  @include media("<phone") {
    height: 2.1rem;
    max-width: 9rem;
  }
}

.logo_img--rr {
  height: 4rem;
  max-width: 4rem;

  @include media("<phone") {
    height: 3.6rem;
    max-width: 3.6rem;
  }
}

.logo_img--bohemia {
  height: 6rem;
  max-width: 17rem;

  @include media("<phone") {
    height: 3.5rem;
    max-width: 9.5rem;
  }
}
